/* GENERAL STYLES */

*{
  margin: 0;
  padding:0;
  box-sizing:border-box;
  }

body{
  background:#F8F4FF
}

p{
  font-family: sans-serif;
}
header{
  background: #F8F4FF;
  }

main{
  background-image: url(./img/jumbotron.png);
  background-size: cover;
  padding: 5%;
}

button{
  background-color: orange;
  padding: 5px;
  color:white;
  width:140px;
  height:40px;
  border: 0;
  border-radius: 5px;
}

.content::after{
  content: '';
  display: table;
  clear: both;
}

.content{
  width: 1000px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

cleafix::after{
  content: '';
  display: table;
  clear: both;
  }

/* HEADER */

.title{
  float:left;
  position: relative;
  top: 20px;
}

.title li i{
  margin-left: 10px;
}

.search{
float: right;
vertical-align: middle;
padding:10px;
}


.title ul {
  list-style: none;
}
.title ul li{
font-family: 'Roboto', sans-serif;
float:left;
}

.title ul li:not(:first-child){
  padding-left: 15px;
  border-left: 1px solid;
  margin-left: 15px;
}

.login{
  width: 80px;
  background: white;
  color:orange;
  border: 1px solid orange;
  margin-right: 5px;
}

/* MENU */

.nav-bottom{
  background: white;
  }

.logo-header-menu img{
float: left;
}

.header-menu ul li{
  font-family: 'Roboto', sans-serif;
  list-style: none;
  display: inline-block;
  margin-left: 70px;
  padding: 10px;

}

.header-menu ul li a{
  text-decoration: none;
  color: #00008B;
  font-size: 15px;
  }
/* MAIN-jumbotron */

.row_1 h1{
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  color:#00008B;
  margin-top: 10px;
}

.row_1 span.first-message p{
  font-family: 'Montserrat',sans-serif;
  color:#00008B;
  line-height:50px;
  margin-top: 30px;
  font-weight: lighter;
}

.row_1 .second-message p{
  margin-top: 50px;
  color: #00008B;
  font-weight:lighter;
}

.button-jumbo{
  margin-top: 30px;
}

.slash{
  width: 100%;
  height:100px;
  border-top: 4px solid #00008B ;
  border-bottom: 4px solid #00008B;
  background-color: #ABCDEF;
}

/* MAIN CENTRAL CONTENT */
.center{
  margin-top: 30px;
  text-align: center;
  background-color:#F8F4FF ;
}

.center img{
  width: 300px;
}
.center h2{
  color:#00008B;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
}

.center p{
  color:#00008B;
  padding:10px;

}

/* seconda parte MAIN */

.content-white{
  background: white;
  border: 1px solid #00008B;
  border-radius: 5px;
  padding: 25px;
}

.box-left, .box-right{
  float: left;
  padding: 20px;
}

.box-left{
  width: 33%;
  text-align: center;
}

.box-left img{
  width: 50%;
  display: block;
  margin: 0 auto;
}

.box-left button{
  margin-top:30px;
}


.box-right{
width: 66%;
}

.box-right h2{
  font-family: 'Roboto', sans-serif;
  color: #00008B;
}

.box-right p{
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  color: #00008B;
  line-height: 30px;
}

.box-right h3{
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  color: #00008B;
  float: left;
}


.linea{
  border-bottom: 1px solid #00008B;
  width: 420px;
  margin-top: 32px;
  float: right;
}

.tick i{
  color:orange;
}

.tick{
  margin-top: 30px;
}

.tick > span:not(:first-child) {
  margin-left: 20px;
}

.tick-text{
  font-family: 'Roboto', sans-serif;
  color: #00008B;
  margin-left: 10px;
}

/* COLUMN */


.column{
  background-color: white;
  /* border: 1px solid black; */
  border-radius: 10px;
  width: 300px;
  /* height: 600px; */
  /* margin-top: 30px; */
  float:left;

}

.column:not(:first-child){
  margin-left:49px;
}

.column-wrapper{
  margin-top: 30px;
  margin-bottom:30px;
}

.column{
  font-family: 'Roboto',sans-serif;
  color: #00008B;
  text-align: center;
  padding-bottom: 20px;
}
.column img{
  width: 150px;
  margin-top: 20px;
}

.column h2{
  margin-top: 20px;
}

/* .column p{
  margin-top: 20px;
} */

.linea{
  width: 60%;
  margin: 30px auto;
  }

.margintop-30{
  margin-top: 30px;
}

  .line-height-30{
    line-height: 30px;
  }

  .list-tick{
    text-align: left;
    margin-top: 30px;
    margin-left: 30px;
  }

  .column i{
    color:orange;
    margin-right: 10px;
  }

.summary::after{
  content: '';
  display: table;
  clear: both;
}


.summary {
  padding-top:20px;
  padding-bottom:20px;
  background: rgb(0,89,87);
  background: linear-gradient(90deg, rgba(0,89,87,1) 0%, rgba(59,194,174,1) 100%);
}

  .box-3{
  font-family: 'Roboto',sans-serif;
  color:white;
  text-align: center;
}

.box-3 p {
margin-top: 30px;
line-height: 30px;
}

.data{
  font-family: 'Roboto', sans-serif;
  color: white;
  margin-top: 60px;
  float: left;
  margin-left: 80px;
  text-align: center;
}

/* FOOTER-GIRL-1 */

.logo-img_1 img, .logo-img_2 img{
  width:  100px;
  margin-left: 20px;
  padding: 5px;
  margin-top: 10px;
}

.Subaru_Logo{
  text-align: center;
}

.number{
  float: left;
  margin-left: 25px;
}

.number h2{
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  margin-bottom: 40px;
  margin-top: 20px;
}
.number p{
  font-family: 'Roboto', sans-serif;
  margin-top: 10px;
  margin-left: 5px;
}

/* FOOTER-GIRL-2 */

.elements {
  float: left;
  margin-top: 40px;
}

.elements h2{
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px;
}

.elements p{
  font-family: 'Roboto', sans-serif;
  margin-top: 30px;
  line-height: 30px;
}

.elements button-jumbo{
  margin-bottom: 30px;
}

.girl-logo img{
  width: 300px;
  margin: 10px 100px;

}

.footer{
  background-color: #003153;
}

.list-widget {
  float:left;
  padding: 20px;
  margin: 20px auto;
}


.list-widget h3{
  font-family: 'Roboto', sans-serif;
  line-height: 30px;
  color: lightgrey;
  margin-top: 20px;
}

.footer .list-widget li{
  font-family: 'Roboto', sans-serif;
  line-height: 20px;
  color: lightgrey;
  margin-top: 20px;
  list-style: none;
}

.button-unico{
  background-color: lightgrey;
  padding: 5px;
  color:black;
  width:180px;
  height:30px;
  border: 0;
  border-radius: 5px;
  margin-top: 10px;
}

.fa {
  padding: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

/* social media */

.fa-facebook, .fa-twitter,
.fa-instagram, .fa-linkedin,
.fa-youtube {
color: white;
}

.language{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: white;
  border-bottom: 2px solid white;
  padding-bottom: 10px;

  }

  .language span{
    padding-left: 20px;
    }

    .copyright{
      margin: 3px;
      color: white;
      font-family: 'Roboto', sans-serif;
      float: left;
    }


    .copyright p{
    font-size: 10px;
    }


.ultimi_due{
  font-family: 'Roboto', sans-serif;
    float: right;
    vertical-align: middle;
    color: white;
    padding: 10px;

  }
