/* GENERAL STYLES */

*{
  margin: 0;
  padding:0;
  box-sizing:border-box;
  }

body{
  background:#F8F4FF
}

p{
  font-family: sans-serif;
}
header{
  background: #F8F4FF;
  }

main{
  background-image: url(./img/jumbotron.png);
  background-size: cover;
  padding: 5%;
}

.content::after{
  content: '';
  display: table;
  clear: both;
}

.content{
  width: 1000px;
  margin: 0 auto;
  border: 1px solid red;
}

/* HEADER */

.title{
  float:left;
  position: relative;
  top: 20px;
}

.title li i{
  margin-left: 2px;
}

.search{
float: right;
vertical-align: middle;
padding:10px;
}

.title ul::after{
  content: '';
  display: table;
  clear: both;
}

.title ul {
  list-style: none;
}
.title ul li{
  float:left;
}

.title ul li:not(:first-child){
  padding-left: 15px;
  border-left: 1px solid;
  margin-left: 15px;
}

.login{
  width: 100px;
  background: white;
  color:orange;
  border: 1px solid orange;
  margin-right: 5px;
}

.header-menu::after{
  content: '';
  display: table;
  clear:both;
}

.logo-header-menu img{
  float: left;
}



.header-menu ul li{
  font-family: 'Roboto', sans-serif;
  list-style: none;
  float: left;
  padding: 10px;
  margin-left:80px;

}

.header-menu ul li a{
  text-decoration: none;
  color: #00008B;
  font-size: 15px;
  }
/* MAIN */
main::after{
  content: '';
  display: table;
  clear:both;
}


.row_1 h1{
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  color:#00008B;
  margin-top: 40px;
}

.row_1 span.first-message p{
  font-family: 'Montserrat',sans-serif;
  color:#00008B;
  line-height:50px;
  margin-top: 40px;
  font-weight: lighter;
}

.row_1 .second-message p{
  margin-top: 50px;
  color: #00008B;
  font-weight:lighter;
}

button{
  background-color: orange;
  padding: 5px;
  color:white;
  width:140px;
  height:40px;
  border: 0;
  border-radius: 5px;
}

.slash{
  width: 100%;
  height:100px;
  border-top: 4px solid #00008B ;
  border-bottom: 4px solid #00008B;
  background-color: #ABCDEF;
}

/* CENTRAL CONTENT */
.center{
  margin-top: 30px;
  text-align: center;
  background-color:#F8F4FF ;
}

.center img{
  width: 300px;
}
.center h2{
  color:#00008B;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
}

.center p{
  color:#00008B;
  padding:10px;

}

.content-white{
  background: white;
  border: 1px solid #00008B;
  border-radius: 5px;
  padding: 25px;
}

.box-left, .box-right{
  float: left;
  padding: 20px;
}

.box-left{
  width: 33%;
  text-align: center;
}

.box-left img{
  width: 50%;
  display: block;
  margin: 0 auto;
}

.box-left button{
  margin-top:30px;
}


.box-right{
width: 66%;
}

.box-right h2{
  font-family: 'Roboto', sans-serif;
  color: #00008B;
}

.box-right p{
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  color: #00008B;
  line-height: 30px;
}

.box-right h3{
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  color: #00008B;
  float: left;
}

.interlinea::after{
  content: '';
  display: table;
  clear:both;
}

.linea{
  border-bottom: 1px solid #00008B;
  width: 420px;
  margin-top: 32px;
  float: right;
}

.tick i{
  color:orange;
}

.tick{
  margin-top: 30px;
}

.tick > span:not(:first-child) {
  margin-left: 20px;
}

.tick-text{
  font-family: 'Roboto', sans-serif;
  color: #00008B;
  margin-left: 10px;
}

/* COLUMN */
.column-wrapper::after{
  content: '';
  display: table;
  clear: both;
}


.column{
  background-color: white;
  /* border: 1px solid black; */
  border-radius: 10px;
  width: 300px;
  /* height: 600px; */
  /* margin-top: 30px; */
  float:left;

}

.column:not(:first-child){
  margin-left:49px;
}

.column-wrapper{
  margin-top: 30px;
  margin-bottom:30px;
}

.column{
  font-family: 'Roboto',sans-serif;
  color: #00008B;
  text-align: center;
  padding-bottom: 20px;
}
.column img{
  width: 150px;
  margin-top: 20px;
}

.column h2{
  margin-top: 20px;
}

/* .column p{
  margin-top: 20px;
} */

.linee{
  width: 80%;
  margin: 30px auto;
  }

.margintop-30{
  margin-top: 30px;
}

  .line-height-30{
    line-height: 30px;
  }

  .list-tick{
    text-align: left;
    margin-top: 30px;
    margin-left: 30px;
  }

  .column i{
    color:orange;
    margin-right: 10px;
  }

.summary {
  padding-top:20px;
  padding-bottom:20px;
  background: rgb(0,89,87);
  background: linear-gradient(90deg, rgba(0,89,87,1) 0%, rgba(59,194,174,1) 100%);
}

  .box-3{
  font-family: 'Roboto',sans-serif;
  color:white;
  text-align: center;
}

.box-3 p {
margin-top: 30px;
line-height: 30px;
}

.data{
  font-family: 'Roboto', sans-serif;
  color: white;
  margin-top: 20px;
  float:left;
  margin-left:80px;
  text-align: center;
}

.data::after{
  content: '';
  display: table;
  clear: both;

}
