/* GENERAL STYLES */

*{
  margin: 0;
  padding:0;
  box-sizing:border-box;
  }

body{
  /* background-color: #7FFFD4; */
}

p{
  font-family: sans-serif;
}
header{
  background: #F8F4FF;
  width:100vw;

}

.content::after{
  content: '';
  display: table;
  clear: both;
}

.content{
  width: 1000px;
  margin: 0 auto;
  border: 1px solid red;
}

/* HEADER */

.title{
  float:left;
}

.search{
float: right;
vertical-align: middle;
padding:10px;
}


.title ul {
  list-style: none;
}
.title ul li{
  float:left;
  padding: 10px;
  margin-left: 100px;
}

main::after{
  content: '';
  display: table;
  clear:both;
}


.logo-header-menu img{
  float: left;
}

.header-menu ul li{
  list-style: none;
  float: left;
  padding: 10px;
}

/* MAIN */
.row_1 h1{
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  color:#00008B;
  margin-top: 40px;
}

.row_1 span.first-message{
  font-family: 'Montserrat',sans-serif;
  color:red;
  line-height:50px;
}

.row_1 span.second-message{
  margin-top: 140px;
  color: #00008B;

}

button{
  margin-top: 30px;
  background-color: orange;
  padding: 5px;
  color:white;
  width:140px;
  height:40px;
  border: 0;
  border-radius: 5px;
}


.cover{
  background-image: url(./img/jumbotron.png);
  background-size: cover;
  max-width: 100%;
  }
